@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 80%;
    overflow-x: hidden;
}
body{
    background-color: antiquewhite;
}

nav{
    position: sticky;
    top: 0;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    display: flex;
    background-color: rgb(22, 22, 22)
}
nav li, a{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
nav h3{
    cursor: pointer;
    color: antiquewhite;
    font-size: 35px;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.nav_links li{
    display: inline-block;
    padding: 0px 50px;
}
.nav_links li a{
    color: antiquewhite;
    transition: all .4s ease 0s;
}
.nav_links a:hover,
.nav_links a.active{
    color: crimson;
}
nav button{
    cursor: pointer;
    margin-right: 70px;
    border-radius: 20px;
    padding: 10px 30px;
    color: antiquewhite;
    background-color: crimson;
    border: none;
    font-size: 15px;
    transition: .4s ease 0s;
}
nav button:hover{
    background-color:rgb(134, 18, 41);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 2.8rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
}

.home-content p{
    text-align: justify;
    font-size: 1.6rem;
}
.home-content span{
    cursor: default;
    color: crimson;
}
.socmed_links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2rem;
    color: crimson;
    transition: .3s ease 0s;
}
.socmed_links a:hover{
    transform: scale(1.3,1.3);
}
.btn{
    color: antiquewhite;
    background-color: crimson;
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    transition: .4s ease 0s;
    font-weight: 700;
}
.home-img img{
    width: 35vw;
}

.btn:hover{
    background-color:rgb(134, 18, 41);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: antiquewhite;
}
.about-content span{
    color: crimson;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    text-align: justify;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.skills h2{
    margin-bottom: 2rem;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box{
    color: antiquewhite;
    flex: 1 1 30rem;
    background-color: crimson;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
}
.skills-box h3{
    font-size: 2.6rem;
}
.skills-box p{
    text-align: justify;
    font-size: 1.6rem;
    margin: 1rem 2rem 3rem;
}
.skills-box img{
    width: 20%;
}